@import 'tailwindcss';

@theme {
	--ease-pop-out: cubic-bezier(0.2, 0.8, 0.72, 1.61);

	--screen-xxxl: 1920px;

	/* https://utopia.fyi/space/calculator?c=640,16,1.2,1920,32,1.25,5,2,&s=0.875%7C0.75,1.125%7C1.25%7C1.5%7C1.875%7C2.25%7C3%7C3.75%7C4.5%7C6%7C8,s-l&g=s,l,xl,12,l,xl,12 */
	--text-*: initial;
	--text-xs: clamp(0.75rem, 0.375rem + 0.9375vw, 1.5rem);
	--text-xs--line-height: clamp(1rem, 0.5rem + 1.25vw, 2rem);
	--text-sm: clamp(0.875rem, 0.4375rem + 1.0938vw, 1.75rem);
	--text-sm--line-height: clamp(1.25rem, 0.625rem + 1.5625vw, 2.5rem);
	--text-base: clamp(1rem, 0.5rem + 1.25vw, 2rem);
	--text-base--line-height: clamp(1.5rem, 0.75rem + 1.875vw, 3rem);
	--text-lg: clamp(1.125rem, 0.5625rem + 1.4063vw, 2.25rem);
	--text-lg--line-height: clamp(1.75rem, 0.875rem + 2.1875vw, 3.5rem);
	--text-xl: clamp(1.25rem, 0.625rem + 1.5625vw, 2.5rem);
	--text-xl--line-height: clamp(1.75rem, 0.875rem + 2.1875vw, 3.5rem);
	--text-2xl: clamp(1.5rem, 0.75rem + 1.875vw, 3rem);
	--text-2xl--line-height: clamp(2rem, 1rem + 2.5vw, 4rem);
	--text-3xl: clamp(1.875rem, 0.9375rem + 2.3438vw, 3.75rem);
	--text-3xl--line-height: clamp(2.25rem, 1.125rem + 2.8125vw, 4.5rem);
	--text-4xl: clamp(2.25rem, 1.125rem + 2.8125vw, 4.5rem);
	--text-4xl--line-height: clamp(2.5rem, 1.25rem + 3.125vw, 5rem);
	--text-5xl: clamp(3rem, 1.5rem + 3.75vw, 6rem);
	--text-5xl--line-height: 1;
	--text-6xl: clamp(3.75rem, 1.875rem + 4.6875vw, 7.5rem);
	--text-6xl--line-height: 1;
	--text-7xl: clamp(4.5rem, 2.25rem + 5.625vw, 9rem);
	--text-7xl--line-height: 1;
	--text-8xl: clamp(6rem, 3rem + 7.5vw, 12rem);
	--text-8xl--line-height: 1;
	--text-9xl: clamp(8rem, 4rem + 10vw, 16rem);
	--text-9xl--line-height: 1;
}
